.avatar-pic {
  border-radius: 50%;
  height: 75px;
}

.container {
  display: flex;
  align-items: center;
}

.user-info {
  margin-left: 20px;
  line-height: 1.5;
  width: 75%;
  border-bottom: 1px solid lightgrey;
}

.location {
  color: lightgrey;
}

.page-container {
  margin: 10px;
}


.btn {
  background-color: skyblue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: slateblue;
}

